@page "/categoria"
@page "/categoria/{Id:int}"

@inject ICategoriaServicio _categoriaServicio
@inject NavigationManager _navServicio
@inject IToastService toastService
@attribute [Authorize(Roles = "Usuario")]

<div class="row justify-content-center  mt-3">
    <p class="col-sm-12 col-md-8 col-xl-10 h4 mt-2">@titulo</p>
</div>
<div class="row justify-content-center  mt-3">
    <div class="col-sm-12 col-md-8 col-xl-10">

        <EditForm Model="modelo" OnValidSubmit="GuardarCambios">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <div class="input-group mb-3">
                <span class="input-group-text bg-light">Nombre</span>
                <input type="text" class="form-control" @bind-value="modelo.Nombre">
                <ValidationMessage For="@(()=>modelo.Nombre)" />
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary" style="width:130px">@boton</button>
                <a href="/categorias" class="btn btn-secondary" style="width:130px">Volver</a>
            </div>
        </EditForm>


    </div>

</div>

@code {
    [Parameter] public int Id { get; set; }
    private string titulo = "Nueva Categoria";
    private string boton = "Crear";
    private CategoriaDTO modelo = new CategoriaDTO();


    protected override async Task OnParametersSetAsync()
    {
        if (Id != 0)
        {
            titulo = "Editar Categoria";
            boton = "Actualizar";

            var response = await _categoriaServicio.Obtener(Id);
            if (response.EsCorrecto!)
            {
                modelo = (CategoriaDTO)response.Resultado!;
            }
            else
                toastService.ShowWarning(response.Mensaje!);
        }
    }


    private async Task GuardarCambios()
    {

        bool respuesta = true;
        string mensaje = string.Empty;

        if (Id != 0)
        {
            var response = await _categoriaServicio.Editar(modelo);
            if (response.EsCorrecto)
                mensaje = "Categoria fue modificada";
            else
            {
                respuesta = false;
                mensaje = "No se pudo editar";
            }
        }
        else
        {
            var response = await _categoriaServicio.Crear(modelo);
            if (response.EsCorrecto)
                mensaje = "Categoria fue creada";
            else
            {
                respuesta = false;
                mensaje = "No se pudo crear";
            }
        }

        if (respuesta)
        {
            toastService.ShowSuccess(mensaje);
            _navServicio.NavigateTo("/categorias");
        }
        else
            toastService.ShowError(mensaje);
    }
}
